**Task 1: Data Loading**

- Load the Titanic dataset from the following URL into a Pandas DataFrame: Titanic Dataset
- Display the first 5 rows of the DataFrame.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

**Task 2: Data Exploration**

- Calculate and display the following :
- Number of passengers (rows) in the dataset.
- Number of columns in the dataset.
- The number of unique values in the 'Embarked' column.
- Identify and display the 3 most common names in the 'Name' column.

**Task 3: Data Filtering**

- Create a new DataFrame that contains only female passengers.
- Create a new DataFrame that contains passengers who survived (Survived=1).
- Create a new DataFrame that contains passengers who are both female and survived.

**Task 4: Data Sorting**

- Sort the DataFrame by the 'Fare' column in descending order.
- Sort the DataFrame by the 'Age' column in ascending order.

**Task 5: Data Aggregation**

- Calculate the total number of passengers by 'Pclass'.
- Find the average age of male passengers and female passengers separately.
- Calculate the median fare for passengers who survived vs. those who did not.

**Task 6: Data Filtering (Advanced)**

- Create a DataFrame of passengers who are either under 18 years old or over 60 years old.
- Create a DataFrame of passengers who paid a fare greater than $50 and embarked from 'C'.

**Task 7: Data Grouping (Advanced)**

- Group the data by both 'Pclass' and 'Sex' and calculate the mean age for each group.
- Group the data by 'SibSp' (number of siblings/spouses) and find the maximum fare paid within each group.

**Task 8: Data Transformation**

- Create a new column 'IsChild' that is True for passengers under 18 and False otherwise.
- Create a new column 'FareCategory' with values 'Low', 'Medium', or 'High' based on the fare amount (e.g., <= $10, $10-50, > $50).

**Task 9: Data Cleaning**

- Identify and handle any duplicate rows in the dataset.

**Task 10: Data Export**

- Export the cleaned and processed dataset to a new CSV file.